In [5]:
import pandas as pd
import math

In [7]:
df = pd.read_csv("fifa_players_data.csv")                #  for reading data :-  read_csv( location of file ) 
# <data frame object name > to view all data ...this case df is the object

In [8]:
"""
DataFrame(<dictonary>)
creating a data frame using dictonary 
arrays must be of same length 
"""
dict1={
    "Name":["Subodh", "Sanjiv", "Suraj", "Rajiv", "Sudesh", "Milan", "Suman", "Manoj"],
    "Branch":["CSE", "CSE", "CSE", "CSE", "Civil", "CSE", "Civil", "MECH"],
    "Address":["Barangdi", "Tansen", "Kawaseti", "Tansen", "", "Tansen", "Tansen", "Bhairavstan"],
}
df1=pd.DataFrame(dict1)

In [9]:
# df.shape gives rows and  columns and size gives the no of elements in whole dataframe 
print("For df1 \n\nThe shape is \t",df1.shape)
rows, columns = df.shape
print("No of rows is : {0}\nNo of columns  is : {1} \nTotal no of elements is {2}".format(rows, columns, df1.size))
df1

For df1

The shape is 	 (8, 3)
No of rows is : 18207
No of columns  is : 89
Total no of elements is 24

     Name Branch      Address
0  Subodh    CSE     Barangdi
1  Sanjiv    CSE       Tansen
2   Suraj    CSE     Kawaseti
3   Rajiv    CSE       Tansen
4  Sudesh  Civil
5   Milan    CSE       Tansen
6   Suman  Civil       Tansen
7   Manoj   MECH  Bhairavstan

In [10]:
"""df.columns-- fpr titles in dataframe
df.head( <no of elements from first> )
df.tail( <no of elements from last > )
df[:] -- all
df[m:n]  ---  from m rows to n rows .... n exclusive"""
df1[1:3]

     Name Branch   Address
1  Sanjiv    CSE    Tansen
2   Suraj    CSE  Kawaseti

In [11]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [12]:
df1.tail(4)

     Name Branch      Address
4  Sudesh  Civil
5   Milan    CSE       Tansen
6   Suman  Civil       Tansen
7   Manoj   MECH  Bhairavstan

In [13]:
df[['Name','Age']]  #printing the selected colums Name and Age from df

                       Name  Age
0                  L. Messi   31
1         Cristiano Ronaldo   33
2                 Neymar Jr   26
3                    De Gea   27
4              K. De Bruyne   27
5                 E. Hazard   27
6                 L. Modrić   32
7                 L. Suárez   31
8              Sergio Ramos   32
9                  J. Oblak   25
10           R. Lewandowski   29
11                 T. Kroos   28
12                 D. Godín   32
13              David Silva   32
14                 N. Kanté   27
15                P. Dybala   24
16                  H. Kane   24
17             A. Griezmann   27
18            M. ter Stegen   26
19              T. Courtois   26
20          Sergio Busquets   29
21                E. Cavani   31
22                 M. Neuer   32
23                S. Agüero   30
24             G. Chiellini   33
25                K. Mbappé   19
26                 M. Salah   26
27                 Casemiro   26
28             J. Rodríguez   26
29               L. Insigne   27
...                     ...  ...
18177             R. Roache   18
18178          L. Wahlstedt   18
18179           J. Williams   17
18180              M. Hurst   22
18181              C. Maher   17
18182               Y. Góez   18
18183         K. Pilkington   44
18184             D. Horton   18
18185              E. Tweed   19
18186          Zhang Yufeng   20
18187             C. Ehlich   19
18188            L. Collins   17
18189            A. Kaltner   18
18190            L. Watkins   18
18191  J. Norville-Williams   18
18192             S. Squire   18
18193            N. Fuentes   18
18194              J. Milli   18
18195            S. Griffin   18
18196           K. Fujikawa   19
18197            D. Holland   18
18198            J. Livesey   18
18199          M. Baldisimo   18
18200              J. Young   18
18201              D. Walsh   18
18202          J. Lundstram   19
18203    N. Christoffersson   19
18204             B. Worman   16
18205        D. Walker-Rice   17
18206             G. Nugent   16

[18207 rows x 2 columns]

In [14]:
# max and min funtionn
print("Max age : ", df["Age"].max())
print("Min age", df["Age"].min())
print("Mean age (used floor function) : ", math.floor(df["Age"].mean()))
print("standard deviation of Age (without using floor function) : ", df["Age"].std())

Max age :  45
Min age 16
Mean age (used floor function) :  25
standard deviation of Age (without using floor function) :  4.66994271341431

In [16]:
df.describe()  # describe prints the statistics in our dataset such as min, max, std, mean, etc.

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,9103.000000,214298.338606,25.122206,66.238699,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,5256.052511,29965.244204,4.669943,6.908930,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,0.000000,16.000000,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4551.500000,200315.500000,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9103.000000,221759.000000,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13654.500000,236529.500000,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,246620.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [45]:
""" Filtering using the elements
    
    df[[column_name]][condition]     ---> shows specified columns based upon the condition
    df[condition]                  ---> shows all columns based upon the conditions
    
"""

df[df.Age == df.Age.max()]
df[df.Overall >= 90]
df[['Name','Age','Overall','Photo']][df['Overall'] >= 90]

,Name,Age,Overall,Photo
0,L. Messi,31,94,https://cdn.sofifa.org/players/4/19/158023.png
1,Cristiano Ronaldo,33,94,https://cdn.sofifa.org/players/4/19/20801.png
2,Neymar Jr,26,92,https://cdn.sofifa.org/players/4/19/190871.png
3,De Gea,27,91,https://cdn.sofifa.org/players/4/19/193080.png
4,K. De Bruyne,27,91,https://cdn.sofifa.org/players/4/19/192985.png
5,E. Hazard,27,91,https://cdn.sofifa.org/players/4/19/183277.png
6,L. Modrić,32,91,https://cdn.sofifa.org/players/4/19/177003.png
7,L. Suárez,31,91,https://cdn.sofifa.org/players/4/19/176580.png
8,Sergio Ramos,32,91,https://cdn.sofifa.org/players/4/19/155862.png
9,J. Oblak,25,90,https://cdn.sofifa.org/players/4/19/200389.png
10,R. Lewandowski,29,90,https://cdn.sofifa.org/players/4/19/188545.png
11,T. Kroos,28,90,https://cdn.sofifa.org/players/4/19/182521.png
12,D. Godín,32,90,https://cdn.sofifa.org/players/4/19/182493.png
13,David Silva,32,90,https://cdn.sofifa.org/players/4/19/168542.png

In [19]:
df.index   #showing the index

RangeIndex(start=0, stop=18207, step=1)

In [20]:
'''pandas has it's own index
    To change we use   df.set_index("column_name" inplace=True)       --> if inplace is true it modifies the currtnt dataframe else gives new dataframe with new index
    To reset the changes we use df.reset_index(inplace = True) 
    we can access data using index by ... dataframe.loc['Index_value']
    
Note : we cannot set_index twice
'''
df1.loc[2]

Name          Suraj
Branch          CSE
Address    Kawaseti
Name: 2, dtype: object

In [43]:
df[["Name","Age","Overall"]][df["Overall"] == df.Overall.max()]

                Name  Age  Overall
0           L. Messi   31       94
1  Cristiano Ronaldo   33       94