In [2]:
import pandas as pd
import math

In [3]:
df = pd.read_csv("fifa_players_data.csv")                #  for reading data :-  read_csv( location of file ) 
# <data frame object name > to view all data ...this case df is the object

In [4]:
"""
DataFrame(<dictonary>)
creating a data frame using dictonary 
arrays must be of same length 
"""
dict1={
    "Name":["Subodh", "Sanjiv", "Suraj", "Rajiv", "Sudesh", "Milan", "Suman", "Manoj"],
    "Branch":["CSE", "CSE", "CSE", "CSE", "Civil", "CSE", "Civil", "MECH"],
    "Address":["Barangdi", "Tansen", "Kawaseti", "Tansen", "", "Tansen", "Tansen", "Bhairavstan"],
}
df1=pd.DataFrame(dict1)

In [ ]:
# df.shape gives rows and  columns and size gives the no of elements in whole dataframe 
print("For df1 \n\nThe shape is \t",df1.shape)
rows, columns = df.shape
print("No of rows is : {0}\nNo of columns  is : {1} \nTotal no of elements is {2}".format(rows, columns, df1.size))
df1

In [ ]:
"""df.columns-- fpr titles in dataframe
df.head( <no of elements from first> )
df.tail( <no of elements from last > )
df[:] -- all
df[m:n]  ---  from m rows to n rows .... n exclusive"""
df1[1:3]

In [ ]:
df.head()

In [ ]:
df1.tail(4)

In [ ]:
df[['Name','Age']]  #printing the selected colums Name and Age from df

In [ ]:
# max and min funtionn
print("Max age : ", df["Age"].max())
print("Min age", df["Age"].min())
print("Mean age (used floor function) : ", math.floor(df["Age"].mean()))
print("standard deviation of Age (without using floor function) : ", df["Age"].std())

In [ ]:
df.describe()  # describe prints the statistics in our dataset such as min, max, std, mean, etc.

In [8]:
""" Filtering using the elements
    
    df[[column_name]][condition]     ---> shows specified columns based upon the condition
    df[condition]                  ---> shows all columns based upon the conditions
    
"""

df[df.Age == df.Age.max()]
df[df.Overall >= 90]
df[['Name','Age','Overall','Photo']][df['Overall'] >= 90]

,Name,Age,Overall,Photo
0,L. Messi,31,94,https://cdn.sofifa.org/players/4/19/158023.png
1,Cristiano Ronaldo,33,94,https://cdn.sofifa.org/players/4/19/20801.png
2,Neymar Jr,26,92,https://cdn.sofifa.org/players/4/19/190871.png
3,De Gea,27,91,https://cdn.sofifa.org/players/4/19/193080.png
4,K. De Bruyne,27,91,https://cdn.sofifa.org/players/4/19/192985.png
5,E. Hazard,27,91,https://cdn.sofifa.org/players/4/19/183277.png
6,L. Modrić,32,91,https://cdn.sofifa.org/players/4/19/177003.png
7,L. Suárez,31,91,https://cdn.sofifa.org/players/4/19/176580.png
8,Sergio Ramos,32,91,https://cdn.sofifa.org/players/4/19/155862.png
9,J. Oblak,25,90,https://cdn.sofifa.org/players/4/19/200389.png
10,R. Lewandowski,29,90,https://cdn.sofifa.org/players/4/19/188545.png
11,T. Kroos,28,90,https://cdn.sofifa.org/players/4/19/182521.png
12,D. Godín,32,90,https://cdn.sofifa.org/players/4/19/182493.png
13,David Silva,32,90,https://cdn.sofifa.org/players/4/19/168542.png

In [ ]:
df.index   #showing the index

In [27]:
'''pandas has it's own index
    To change we use   df.set_index("column_name" inplace=True)       --> if inplace is true it modifies the currtnt dataframe else gives new dataframe with new index
    To reset the changes we use df.reset_index(inplace = True) 
    we can access data using index by ... dataframe.loc['Index_value']
    
Note : we cannot set_index twice
'''
df1.loc[2]

level_0           2
index             2
Branch          CSE
Name          Suraj
Address    Kawaseti
Name: 2, dtype: object

In [7]:
df.abs()

TypeError: bad operand type for abs(): 'str'