In [5]:
import math
import pandas as pd

In [47]:
df = pd.read_csv("fifa_players_data.csv", nrows=10)[["Name","Age","Nationality","Overall"]]

In [77]:
df[["Name","Age"]][df.Age<=50]

                Name  Age
0           L. Messi   31
1  Cristiano Ronaldo   33
2          Neymar Jr   26
3             De Gea   27
4       K. De Bruyne   27
5          E. Hazard   27
6          L. Modrić   32
7          L. Suárez   31
8       Sergio Ramos   32
9           J. Oblak   25