In [5]:
import math
import pandas as pd

In [42]:
df = pd.read_csv("fifa_players_data.csv", nrows=5)[["Name","Age","Nationality","Overall"]]

                Name  Age Nationality  Overall
0           L. Messi   31   Argentina       94
1  Cristiano Ronaldo   33    Portugal       94
2          Neymar Jr   26      Brazil       92
3             De Gea   27       Spain       91
4       K. De Bruyne   27     Belgium       91